<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="Gondwana" type="Gondwana.Common.EngineSettings, Gondwana.Common"/>
	</configSections>
	<Gondwana TargetFPS="60"
			  SamplingTimeForCPS="1.5"
			  TimeBetweenKeyboardEvents="0.03"
			  VisibleSurfaceRefreshTimer="1.5"
			  ResizedFrameCacheLimit="100"/>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
	</startup>
</configuration>
