<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<add key="max_sprites" value="0"/>
		<!-- max sprites rendered; set to 0 or neg for no limit -->
		<add key="default_throttle" value="25"/>
		<!-- 1000 ms / 25 ms throttle = 40 net cycles per second max -->
		<add key="cps_sample_time" value="1000"/>
		<!-- 3000 = cps recalculated every 3 seconds; set to 0 or neg to turn off -->
		<add key="ticks_between_collisions" value="50"/>
		<!-- default minimum time in milliseconds allowed between collision events -->
		<add key="get_collision_direction" value="true"/>
		<!-- calculate direction of Sprite collisions and return eith event args -->
		<add key="force_gc_on_cycle" value="false"/>
		<!-- if true, force GC.Collect on Engine cycle -->
		<add key="ticks_between_key_events" value="25"/>
		<!-- default minimum time in milliseconds allowed between keyboard events -->
		<add key="size_sprite_to_parent_grid" value="false"/>
		<!-- if true, sizes new Sprite objects to its parent Grid, instead of the Tilesheet size -->
		<add key="throw_exception_on_mci_error" value="false"/>
		<!-- if true, MCI errors encountered in the MediaPlayer class will throw a MediaPlayerException object -->
    <add key="double_pass_refresh" value="false"/>
	</appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
